{% extends "tagg.html" %}
		{% block "style" %}
table.iram {
	border-width: medium;
	border-spacing: ;
	border-style: groove;
	border-color: black;
	border-collapse: separate;
	background-color: white;
}
table.iram th {
	border-width: 0px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
table.iram td {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
	align: "center";
}
{% endblock %}
                {% block "body" %}

<table class='iram' align="center">
<tr><th><strong>Edificio: {{ current }}</strong></th></tr>
<tr><td>Envolvente: {{ envolvente }}</td></tr>
<tr><td>Superficie calefaccionada</td><td>Plantas</td><td>Volumen</td></tr>
<tr><td>{{ sp }}</td><td>{{ pl }}</td><td> {{ volumen }} </td></tr>
<tr><th><strong>Cerramientos Opacos Exteriores</strong></th></tr>
<tr><td>Elemento</td><td>Superficie</td><td>K</td><td>Sup x K </td></tr>
{% for key,value in opacos.items %}
<tr><td>{{ value.name }}</td><td>{{ value.sup }}</td><td>{{ value.k }}</td><td>{{ value.env }}</td></tr>
{% endfor %}
<tr><th><strong>Cerramientos No Opacos Exteriores</strong></th></tr>
<tr><td>Elemento</td><td>Superficie</td><td>K</td><td>Sup x K </td></tr>
{% for key,value in noopacos.items %}
<tr><td>{{ value.name }}</td><td>{{ value.sup }}</td><td>{{ value.k }}</td><td>{{ value.env }}</td></tr>
{% endfor %}
<tr><th><strong>Pisos en contacto con el terreno</strong></th></tr>
<tr><td>Perimetro</td><td>Pp</td><td>Perdida</td></tr>
<tr><td>{{ perim }}</td><td>{{ pp }} </td><td>{{ perdida }}</td></tr>
<tr><th><strong>Perdidas Volumetricas por infiltracion de aire</strong></th></tr>
<tr><td>n</td><td>Perdida n</td></tr>
<tr><td>{{ n }}</td><td>{{ perdidan }} W/m3K</td></tr>
<tr><td><strong>Perdidas por transmision</strong></td><td> {{ ptransm }} W/K</td></tr>
<tr><td><strong>Perdidas Volumetricas transmision</strong></td><td> {{ pvtransm }} W/K</td></tr>
<tr><td><strong>Perdidas Volumetricas Globales</strong></td></tr>
<tr><td>G Calculo</td><td> {{ G }} {{ Gsuma }}</td></tr>
<tr><td>G Admisible</td><td> {{ Gadm }} </td></tr>
</table>
<p>
{% for key,value in ilum.items %}
<p><strong>Tipo de Ambiente:</strong> {{ key }}
<br>Cantidad de ambientes: {{ value.1 }}
<br>Consumo Unitario en Iluminacion mensual: {{ value.0 }} W
{% endfor %}

                {% endblock "body" %}

		{% block "report" %}
<p><a href='http://127.0.0.1:8000/lista'>Volver al listado de edificios</a>
                {% endblock  %}


